<!DOCTYPE html>

<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    </head>

    <body>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('new_post', function(post) {
    addPostToDOM(post);
});
socket.on('connect', function() {
      console.log('Websocket connected!');
      socket.emit('start_timer', {data: 'User has connected!'});
  });

  // Function to submit an answer
  function submitAnswer(option) {
      socket.emit('submit_answer', {answer: option});
  }

  // Listen for the 'timer' event to update the timer on the webpage
  socket.on('timer', function(data) {
      console.log('Time Remaining: ' + data.time_remaining);
      
  });

  socket.on('question_graded', function(data) {
      console.log('Question Graded: ' + data.result);
      
  });

function addPostToDOM(post) {
    // Start building the HTML string for the post
    var postHtml = '<div class="post">' +
                   '<h3>' + post.title + ' by <span class="username">' + post.author + '</span></h3>' +
                   '<p>' + post.description + '</p>';

    if(post.image) {
        postHtml += '<div class="post-image">' +
                    '<img src="/static/' + post.image + '" alt="Question Image">' +
                    '</div>';
    }

    postHtml += '<ol type="A">';
   
    postHtml += '</ol>';

    postHtml += '<form action="/like-or-unlike-post/' + post._id + '" method="post">' +
                ' <input type="text" name="action">' +
                '</form>' +
                '</div>';

    var mainContentElement = document.getElementById('main-content');
    mainContentElement.innerHTML += postHtml;
}

        </script>
        <h1>X.com</h1>
        
        <h2>Hello, {{ usr }}</h2>

        <a href="/questionForm.html">Create a question</a>

        <div id="main-content">
            {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }} by <span class="username">{{ post.author }}</span></h3>
                <p>{{ post.description }}</p>
                {% if post.author==usr %}
                <form action="/like-or-unlike-post/{{ post._id }}" method="post" hidden>
                    <input type="text" name="action">
                </form>
                {% else %}
                <form action="/like-or-unlike-post/{{ post._id }}" method="post">
                    <input type="text" name="action">

                </form>
                {% endif %}
                {% if post.image %}
                    <div class="post-image">
                        <img src="{{ url_for('static', filename=post.image) }}" alt="Question Image">
                    </div>
                {% endif %}
        
                
                
            </div>
            {% endfor %}
        </div>

    </body>
</html>