<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h3>Create a Quiz Question</h3>
        <form action="/create-post" method="post" enctype="multipart/form-data">
            <input type="text" name="post-title" placeholder="Question Title" required />
            <textarea name="post-description" placeholder="Question Description" required></textarea>

            <!-- Optional image for the question -->
            <input type="file" name="question-image" accept="image/png, image/jpeg">
            
            <!-- Correct answer -->
            <div>
                <label>Correct Answer:</label>
                <input type="text" name="correct-answer" placeholder="Correct Answer" required>
            </div>
            
            <input type="submit" value="Create Question" />
        </form>
    </body>
</html>