body{
    background-color: rgb(239, 164, 239);
}
#side-bar {
    float: right;
    width: 30%;
    border-left: 1px solid #000;
    padding-left: 10px;
}

#main-content {
    width: 65%;
    float: left;
}

.post {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
}