body{
    background-color: rgb(239, 164, 239);
}

#main-content {
    width: 65%;
    float: left;
}

.post {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 300px;
}

.post-image img {
    max-width: 500px;
    max-height: 500px;
}